<main class="main">
    <div class="tabs-container"><!--tabbable-->
    <ul class="tabs tabs-default b-1" role="tablist"><!-- b-b-1-->
      <li class="nav-item">             
        <a class="nav-link" id="tareas-tab" data-toggle="tab" href="#tareasB" role="tab" aria-controls="home" aria-selected="true">Proyectos</a>
      </li>
    </ul>
    <div class="tab-content">
    
      <div class="tab-pane fade flex-1-0-100g" id="tareasB" role="tabpanel" aria-labelledby="profile-tab">
        <div class="pane-two flex-1-0-100g">
    
          <!-- componente A inicio -->
          <div class="pane-fgb">
    
            <div class="pane-filter" style="grid-template-columns: 4rem 5.5rem 4rem 10rem 10rem">
              <div >
                <label>Año</label>
                <select type="text" class="form-control">
                  <option value=""></option>
                  <option value=2020>2020</option>
                  <option value=2019>2019</option>
                  <option value=2018>2018</option>
                </select>
              </div>
              <div >
                <label>U.O.</label>
                <select type="text" class="form-control">
                  <option value=""></option>
                  <option value=2020>CEPRE</option>
                  <option value=2019>ORRH</option>
                  <option value=2018>AFNEMIP</option>              
                </select>
              </div>
              <div >
                <label>S.F.</label>
                <select type="text" class="form-control"></select>
              </div>
              <div >
                <label>Tipo Tarea</label>
                <select type="text" class="form-control"></select>
              </div>
              <div >
                <label>Descripción</label>
                <input type="text" class="form-control"/>
              </div>
            </div>
    
            <div class="pane-grid">
            
            <div class="ui-grid">
              <div class="ui-grid-view">
                <div class="ui-grid-header brc-grey-l2"><!--  style="width: 955px;" -->
                  <table class="ui-grid-htable" role="grid" aria-labelledby="gbox_grid-table">
                    <colgroup>
                      <col style="width:41px">
                      <col style="width:100px">
                      <col style="width:279px">
                      <col style="width:130px">
                      <col style="width:167px">
                      <col style="width:279px">
                    </colgroup>
                    <thead class="ui-thead" role="rowgroup"><!--class="ui-grid-hbox" -->
                    <tr role="row">
                      <th class="ui-thead-th ui-first-th-ltr-" id="grid-table_id">
                        <div class="ui-grid-sortable" id="jqgh_grid-table_id" role="columnheader">ID
    
                        </div>
                      </th>
                      <th class="ui-thead-th ui-th-ltr-" id="grid-table_sdate">
                        <div class="ui-grid-sortable" id="jqgh_grid-table_sdate" role="columnheader" >Last Sales
                        </div>
                      </th>
                      <th class="ui-thead-th ui-first-th-ltr-">
                        <div class="ui-grid-sortable" id="jqgh_grid-table_name" role="columnheader" >Name
                        </div>
                      </th>
                      <th class="ui-thead-th ui-th-ltr-" id="grid-table_stock">
                        <div class="ui-grid-sortable" id="jqgh_grid-table_stock" role="columnheader">Stock
                        </div>
                      </th>
                      <th class="ui-thead-th ui-th-ltr-" id="grid-table_ship">
                        <div class="ui-grid-sortable" id="jqgh_grid-table_ship" role="columnheader">Ship via
                        </div>
                      </th>
                      <th class="ui-thead-th ui-th-ltr-" id="grid-table_note">
                        <div id="jqgh_grid-table_note" role="columnheader">Notes
                        </div>
                      </th>
                    </tr>
                    </thead>
                  </table>
                </div>
    
                <div class="ui-grid-content" role="grid" id="gview_grid-table" style="height: 150px;">
                  <table class="ui-grid-tbody" tabindex="0" role="presentation" aria-labelledby="gbox_grid-table" style="height:100%!important;">
                    <colgroup>
                      <col style="width:41px;">
                      <col style="width:100px;">
                      <col style="width:279px;">
                      <col style="width:130px;">
                      <col style="width:167px;">
                      <col style="width:279px;">
                    </colgroup>
                    <tbody>
                      <tr class="ui-row" role="row" id="1" tabindex="-1"><!--ui-row-ltr-->
                        <td role="gridcell" aria-describedby="grid-table_id">1</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2017-12-13</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Desktop Computer</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">Yes</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">FedEx</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note</td>
                      </tr>
                      <tr class="ui-row" role="row" id="2" tabindex="-1"><!--ui-row-ltr -->
                        <td role="gridcell" aria-describedby="grid-table_id">2</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2018-02-03</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Laptop LAPTOP Laptop LAPTOP para ven en varias lineas de esta generacion</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">Yes</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">InTime</td>
                        <td role="gridcell" aria-describedby="grid-table_note">Long text </td>
                      </tr>
                      <tr class="ui-row" role="row" id="3" tabindex="-1"><!--ui-row-ltr-->
                        <td role="gridcell" aria-describedby="grid-table_id">3</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2016-01-17</td>
                        <td role="gridcell" aria-describedby="grid-table_name">LCD Monitor</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">Yes</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">TNT</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note3</td>
                      </tr>
                      <tr class="ui-row" role="row" id="4" tabindex="-1"><!--ui-row-ltr-->
                        <td role="gridcell" aria-describedby="grid-table_id">4</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2015-12-23</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Speakers</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">No</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">ARAMEX</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note</td>
                      </tr>
                      <tr class="ui-row" role="row" id="5" tabindex="-1"><!--ui-row-ltr-->
                        <td role="gridcell" aria-describedby="grid-table_id">5</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2019-08-06</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Laser Printer</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">Yes</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">FedEx</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note2</td>
                      </tr>
                      <tr class="ui-row" role="row" id="6" tabindex="0"><!--ui-row-ltr-->
                        <td role="gridcell" aria-describedby="grid-table_id">6</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2017-12-14</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Play Station</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">No</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">FedEx</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note3</td>
                      </tr>
                      <tr class="ui-row" role="row" id="7" tabindex="0">
                        <td role="gridcell" aria-describedby="grid-table_id">7</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2016-06-20</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Mobile Telephone</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">Yes</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">ARAMEX</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note</td>
                      </tr>
                      <tr class="ui-row" role="row" id="8" tabindex="0">
                        <td role="gridcell" aria-describedby="grid-table_id">8</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2015-11-11</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Server</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">Yes</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">TNT</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note2</td>
                      </tr>
                      <tr class="ui-row" role="row" id="9" tabindex="0">
                        <td role="gridcell" aria-describedby="grid-table_id">9</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2009-02-10</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Matrix Printer</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">No</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">FedEx</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note3</td>
                      </tr>
                      <tr  class="ui-row" role="row" id="10" tabindex="0">
                        <td role="gridcell" aria-describedby="grid-table_id">10</td>
                        <td role="gridcell" aria-describedby="grid-table_sdate">2007-12-03</td>
                        <td role="gridcell" aria-describedby="grid-table_name">Desktop Computer</td>
                        <td role="gridcell" aria-describedby="grid-table_stock">Yes</td>
                        <td role="gridcell" aria-describedby="grid-table_ship">FedEx</td>
                        <td role="gridcell" aria-describedby="grid-table_note">note</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div> 
              <div class="ui-grid-pager" id="grid-pager" style="width:100%">                     
                <div class="ui-pg-button b-0" role="button" id="first_grid-pager" title=" Primera Página ">
                  <span class="btn-icon btn-h-outline-primary btn-a-outline-primary" >
                    <span class="bgi-page-first" role="img"></span>
                  </span>
                </div>
                <div class="ui-pg-button b-0" href="#" role="button" id="prev_grid-pager" title=" Página Anterior ">
                  <span class="btn-icon btn-h-outline-primary btn-a-outline-primary" >
                    <span class="bgi-page-prev" role="img"></span>
                  </span>
                </div>
                <div class="ui-pg-button disabled ui-grid-disablePointerEvents">
                  <div class="ui-separator mr-o375r"></div>
                </div>
                <div style="white-space:pre">Página &nbsp;<input class="form-control d-inline-block ui-pg-input" maxlength="5" value="0" style="width:35px">&nbsp; de <span id="sp_1_grid-pager">3</span></div>
                <div class="ui-pg-button disabled ui-grid-disablePointerEvents">
                  <div class="ui-separator ml-o375r"></div>
                </div>
                <div class="ui-pg-button b-0" role="button" tabindex="0" id="next_grid-pager" title="Pagina Siguiente" style="cursor: default;">
                  <span class="btn-icon btn-h-outline-primary btn-a-outline-primary" >
                    <span class="bgi-page-next" role="img"></span>
                  </span>
                </div>
                <div class="ui-pg-button b-0" role="button" tabindex="0" id="next_grid-pager" title=" Ultima Página ">
                  <span class="btn-icon btn-h-outline-primary btn-a-outline-primary" >
                    <span class="bgi-page-last" role="img"></span>
                  </span>
                </div>
                <div class="ui-pg-button disabled ui-grid-disablePointerEvents">
                  <div class="ui-separator mr-o375r"></div>
                </div>
                <div class="ui-pg-button b-0" role="button" tabindex="0" id="refresh-pager" title=" Actualizar ">
                  <span class="btn-icon btn-h-outline-primary btn-a-outline-primary" >
                    <span class="bgi-page-refresh" role="img"></span>
                  </span>
                </div>
                <div dir="rtl" id="grid-pager_right" style="width:100%">
                  <span class="ui-paging-info">Visualizando 1 - 10 de 23</span>
                </div>
              </div>
            </div><!--class="ui-grid" id="gbox_grid-table"-->
            </div>
    
            <div class="pane-buttons">
              <button class="btn btn-ui">
                <i class="fa fa-edit c-blue"></i> Nuevo
              </button>
              <button class="btn btn-ui">
                <i class="fa fa-edit c-blue"></i> Modificar
              </button>
              <button class="btn btn-ui">
                <i class="fa fa-edit c-blue"></i> Consulta Doble
              </button>
            </div>
    
          </div>
          <!-- componente A fin -->
    
          <!-- componente B inicio -->
          <div class="pane-g1e">
            <div class="tabs-container">
              <ul class="tabs tabs-default b-1" role="tablist">
                <li class="nav-item">             
                  <a class="nav-link" id="tarea" data-toggle="tab" href="#tareasfte" role="tab" aria-controls="fte" aria-selected="false">Presupuesto</a><!--  active -->
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="area" data-toggle="tab" href="#tareaarea" role="tab" aria-controls="area" aria-selected="false">Unidades Orgánicas</a>
                </li>
              </ul>
              <div class="tab-content">
              <div class="tab-pane fade flex-1-0-100g" id="tareasfte" role="tabpanel" aria-labelledby="profile-tab">
                <div class="pane-rfgb">
                <div class="pane-filter" style="grid-template-columns: 4rem 5.5rem 4rem 10rem 10rem">
                  <div>
                    <label>Año</label>
                    <select type="text" class="form-control">
                      <option value=""></option>
                      <option value=2020>2020</option>
                      <option value=2019>2019</option>
                      <option value=2018>2018</option>
                    </select>
                  </div>
                  <div>
                    <label>U.O.</label>
                    <select type="text" class="form-control">
                      <option value=""></option>
                      <option value=2020>CEPRE</option>
                      <option value=2019>ORRH</option>
                      <option value=2018>AFNEMIP</option>              
                    </select>
                  </div>
                  <div>
                    <label>S.F.</label>
                    <select type="text" class="form-control"></select>
                  </div>
                  <div>
                    <label>Tipo Tarea</label>
                    <select type="text" class="form-control"></select>
                  </div>
                  <div>
                    <label>Descripción</label>
                    <input type="text" class="form-control"/>
                  </div>
                </div>
    
                <div class="pane-grid">
    
    
                    
                </div> <!--pane-grid-->
                <div class="pane-buttons">
                  <button class="btn btn-ui">
                    <i class="fa fa-edit c-blue"></i> Nuevo
                  </button>
                  <button class="btn btn-ui">
                    <i class="fa fa-edit c-blue"></i> Modificar
                  </button>
                  <button class="btn btn-ui">
                    <i class="fa fa-edit c-blue"></i> Consulta Doble
                  </button>
                </div>
                </div>    
              </div><!--class="pane-right-content"-->
              <div class="tab-pane fade" id="tareaarea" role="tabpanel" aria-labelledby="profile-tab">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee...................
              </div>
              </div>
            </div>
          </div>
          <!-- componente B fin -->
    
        </div>
      </div> 
      
      
    
    
    
    
    
    </div><!--class="tab-content-->
    </div><!--class="tabs-container-->
    </main>