<div class="body-container">
    <header class="main-header navbar-default">
        <div class="header-intro">
          <a class="header-brand c-white" href="#">
            <img src="../../../../../../assets/aceunam/image/logo-white.png" style="width:60px;">
          </a>
          <div class="mw-auto mx-o375r">
            <div class="c-white fw-b" style="font-size: .75rem">Universidad Nacional de Moquegua</div>
            <div class="c-white">Oficina de Presupuesto</div>
            <div class="c-white">SIGEUN v5.0.1</div>
          </div>
        </div>
        <div class="mr-2" style="margin-left: auto">
          <div class="fw-b">&nbsp;</div>
          <div>&nbsp;</div>
          <div class="c-white mt-o5r" dir="rtl">Valencia LLamoca, Danyer Alain &nbsp; ::: &nbsp; 2020 &nbsp;</div>
        </div>
      
      
        <div class="navbar-menu  navbar-backdrop" id="navbarMenu">
        <div class="navbar-nav">
        <ul class="nav">
              
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-server fs-150g"></i>
            </a>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
              <img id="id-navbar-user-image" class="d-lg-inline-block br-round b-2 bc-white-tp1 w-3r h-3r" src="../../../../../../assets/aceunam/image/user.jpg" alt="Foto de usuario">
            </a>
      
            <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
              <div class="d-none d-lg-block d-xl-none">
                <div class="dropdown-header">Bienvenido, Danyer</div>
                <div class="dropdown-divider"></div>
              </div>
              <a class="dropdown-item btn btn-outline-grey btn-h-lighter-primary btn-a-lighter-primary" href="html/page-profile.html">
                <i class="fa fa-user c-primary-m1 mr-o375r"></i>Perfil
              </a>
              <a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="#" data-toggle="modal" data-target="#id-ace-settings-modal">
                <i class="fa fa-cog c-success-m1 mr-o375r"></i>Configuraciones
              </a>
              <div class="dropdown-divider brc-primary-l2"></div>
              <a class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary" href="html/page-login.html">
                <i class="fa fa-power-off c-warning-d1 mr-o375r"></i>Cerrar Sesión
              </a>
            </div>
      
          </li>
        </ul>
        </div>
        </div>
      </header>
    </div>
  

